.vertical-align-welcome {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: #9B9B9B;
}

.logo {
	height: 50px !important;
	margin-top: -5px;
}

li {
    font-size: 1.2sem;
}

a {
	  color: white !important;
	  text-shadow: none !important;
	  line-height: 38px !important;
	  font-size: 1.4em;
}

.nav-tabs > li.active > a{
	  color: #5fd0b6 !important;
}

.navbar {
	min-height: 70px !important;
}

.navbar-inverse {

	background-color: rgba(45, 104, 108, .9) !important;
	border-bottom: solid 4px rgba(221, 192, 143, .8);
	background-image: none !important;
	border-color: rgba(66, 153, 159, .9) !important;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: rgb(235, 233, 124) !important;
}


