.coreFocus {
    background-image: url('../../../components/IMAGES/corefocus.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(101, 179, 184, 0.5);
    background-blend-mode: color-burn;
    height: 200px;
    width: 200px;
    color: white;
    box-shadow: inset 0px 0px 50px 5px rgba(77, 112, 114, 0.9);
	border: solid 3px rgb(160, 182, 184);
	opacity: .6;
}

.coreFocus:hover {
    background-image: url('../../../components/IMAGES/corefocus.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
    height: 200px;
    width: 200px;
    color: white;
    box-shadow:  0px 0px 50px 5px rgba(77, 112, 114, 0.9);
	border: solid 3px rgba(221, 192, 143, .9);
	opacity: .8;
}


.volunteer {
	background-image: url('../../../components/IMAGES/volunteer.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(101, 179, 184, 0.5);
    background-blend-mode: color-burn;
    height: 200px;
    width: 200px;
	color: white;
    box-shadow: inset 0px 0px 50px 5px rgba(77, 112, 114, 0.9);
	border: solid 3px rgb(160, 182, 184);
	opacity: .6;
}

.volunteer:hover {
	background-image: url('../../../components/IMAGES/volunteer.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(101, 179, 184, 0.5);
    background-blend-mode: color-burn;
    height: 200px;
    width: 200px;
	color: white;
	box-shadow:  0px 0px 50px 5px rgba(77, 112, 114, 0.9);
	border: solid 3px rgba(221, 192, 143, .8);
	opacity: .8;
}

.careerChange {
	background-image: url('../../../components/IMAGES/transitioning.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(101, 179, 184, 0.5);
    background-blend-mode: color-burn;
    height: 200px;
    width: 200px;
	color: white;
    box-shadow: inset 0px 0px 50px 5px rgba(77, 112, 114, 0.9);
	border: solid 3px rgb(160, 182, 184);
	opacity: .6;
}

.careerChange:hover {
	background-image: url('../../../components/IMAGES/transitioning.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(101, 179, 184, 0.5);
    background-blend-mode: color-burn;
    height: 200px;
    width: 200px;
	color: white;
    box-shadow:  0px 0px 50px 5px rgba(77, 112, 114, 0.9);
	border: solid 3px rgba(221, 192, 143, .8);
	opacity: .8;
}

.funStuff {
	background-image: url('../../../components/IMAGES/funstuff.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(101, 179, 184, 0.5);
    background-blend-mode: color-burn;
    height: 200px;
    width: 200px;
	color: white;
    box-shadow: inset 0px 0px 50px 5px rgba(77, 112, 114, 0.9);
	border: solid 3px rgb(160, 182, 184);
	opacity: .6;
}

.funStuff:hover {
	background-image: url('../../../components/IMAGES/funstuff.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(101, 179, 184, 0.5);
    background-blend-mode: color-burn;
    height: 200px;
    width: 200px;
	color: white;
	box-shadow:  0px 0px 50px 5px rgba(77, 112, 114, 0.9);
	border: solid 3px rgba(221, 192, 143, .8);
	opacity: .8;
}

.aboutTitle {
	color: white;
	margin: 0 !important;
	padding-top: 60px;
	font-size: 4em;
}

.aboutSectionContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding-bottom: 25px;
	padding-top: 25px;
}

h3 {
	font-size: 30px !important;
	padding-top: 10px;
}

.custom-overlay {
    background: rgba(167, 162, 161, 0.6);
  }

.transition-enter {
transform: scale(0);
}
.transition-enter-active {
transform: scale(1);
transition: transform 1000ms ease;
}
.transition-exit {
transform: scale(1);
}
.transition-exit-active {
transform: scale(0);
transition: transform 1000ms ease;
}

.occupation button {
background-color: lightgoldenrodyellow;
border: none;
width: 100%;
}

.boxShadow{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.boxShadow::after {
	content: '';
	position: absolute;
	z-index: -1; /* hide shadow behind image */
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	width: 70%;
	left: 15%; /* one half of the remaining 30% */
	height: 100px;
	bottom: 0;
}

.coreFocusModal {
	background-image: url('../../../components/IMAGES/corefocus.png');
    background-size: cover;
	background-repeat: no-repeat;
	background-color: white !important;
}

.coreFocusModal > p {
	color: rgb(43, 139, 145);
    margin: 0 !important;
    padding-top: 25px;
    padding-left: 440px;
    padding-right: 40px;
    padding-bottom: 80px;
}

.coreFocusModal > h3 {
	color: rgb(43, 139, 145);
	margin: 0;
	padding: 40px 0 0 40px;
}

.volunteerModal {
	background-image: url('../../../components/IMAGES/volunteer.png');
    background-size: cover;
	background-repeat: no-repeat;
	background-color: white !important;
	display: grid;
	padding-left: 10%;
    grid-template-columns: 70% 10%;
    align-items: center;
    column-gap: 10%;
}

.volunteerText > p {
	color: rgb(43, 139, 145);
	padding-right: 50px;
    padding-bottom: 22px;
    padding-top: 107px;
}

.volunteerText > h3 {
	color: rgb(43, 139, 145);
}

.styles_modal__gNwvD {
	padding: 0 !important;
	margin-top: 50px !important;
}

.linkedinarticle > p {
	text-decoration: none;
	color: rgba(235, 53, 95, .8);
	font-size: 1.2em;
	padding-bottom: 10px;
	margin-bottom: 0;
}

.vologo {
	float: right;
    padding: 10px;
    width: 87px;
}

.vologogroup {
	padding-top: 30px;
	padding-bottom: 30px;
}

.careerChangeModal {
	background-image: url('../../../components/IMAGES/transitioning.png');
    background-size: cover;
	background-repeat: no-repeat;
	background-color: white !important;
}

.careerChangeModal > p {
	color: rgb(43, 139, 145);
    margin: 0 !important;
    padding-top: 25px;
    padding-left: 440px;
    padding-right: 40px;
    padding-bottom: 80px;
}

.careerChangeModal > h3 {
	color: rgb(43, 139, 145);

}

.careerChangeText > p {
	color: rgb(43, 139, 145);
	padding-right: 50px;
	padding-bottom: 22px;
	padding-top: 10px;
}

.careerChangeText > h3 {
	color: rgb(43, 139, 145);
	margin: 0;
	padding-top: 40px;
}

.careerChangeText {
	padding-left: 60px;
}


.funStuffModal {
	background-image: url('../../../components/IMAGES/funstuff.png');
    background-size: cover;
	background-repeat: no-repeat;
	background-color: white !important;
	display: grid;
	grid-template-columns: 30% 30% 30%;
	column-gap: 20px;
	align-items: center;
	padding: 40px 40px 20px 40px;
}

.funStuffModal > p {
	color: rgb(43, 139, 145);
	grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}

.funStuffModal > h3 {
	color: rgb(43, 139, 145);
	margin: 0;
	padding: 10px 0 0 0;
	grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}

.funStuffToDo {
	height: 280px;
	width: 210px;
}

.funStuffIMake {
	height: 280px;
	width: 210px;
}