.experienceTitle {
	margin: 0 !important;
	color: white;
	font-size: 4em;
	padding-top: 60px;
	padding-bottom: 20px;

}

.profilepic {
	height: 200px;
	float: right;
}

.experienceSectionContainer {
	padding-left: 5%;
	padding-right: 5%;

}

.experienceItems > h4 {
	font-size: 20px !important;
	text-align: left;
}

.experienceItems > h5, h6, p {
	color: white !important;
	text-align: left;

}

.skillsLogos {

	text-align: center;
	padding-top: 40px;
}

.skillsIcons {
	font-size: 40px;
	color: white;
	padding: 5px;
}