/* Styling for the main landing page of the app */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

h1 {
    color: white;
    font-size: 30px;
}

body {
    font-family: 'Bangla Sangam MN';
}


.mainLogo {
    height: 40px;
    margin-top: 20px;
}

.titleSection {
	background-image: url('../../components/IMAGES/GrayFlowersTop.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px;
	max-width: 100%;
}

.titleSection>h1 {
    float: left;
    margin: auto;
}

.secondSection {
	height: 500px;
	background-color: rgba(66, 153, 159, .8);
	border: solid 2px #6bc1f7;
    background-size:20px 20px;
    background-position:0 0, 10px 10px;
}

.thirdSection {
    height: 600px;
    background-image: url('../../components/IMAGES/GrayFlowersBottom.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.fourthSection {
	height: 500px;
	background-color: rgba(66, 153, 159, .8);
	border: solid 2px #6bc1f7;
    background-size:20px 20px;
    background-position:0 0, 10px 10px;
}

.fifthSection {
    height: 600px;
    background-image: url('../../components/IMAGES/brownfloral.png');
	background-size: cover;
	background-repeat: no-repeat;
	opacity: .7;
}

.promo {
    float: left;
    margin-left: 5%;
    display: grid;
    width: 400px;
    text-align: center;
    color: #9B9B9B;
    font-size: 30px;
    margin-top: 5%;
}

.promoImage {
    height: 50px;
    width: 50px;
    margin: 15px;
    display: inline-block;
}

.backAndForth {
    margin: 0 10px;
}


.footer {
    height: 100px;
	background-color: rgba(66, 153, 159, .8);
	border: solid 2px #6bc1f7;
    background-size:20px 20px;
    background-position:0 0, 10px 10px;
}

.footer>p {
    margin: 0 0 0;
    padding-top: 5px;
}

.socialicon {
    height: 40px;
    width:  40px;
    margin: 0;
}


