.projectTitle {
	margin: 0 !important;
	padding: 20px;
	color: white;
	font-size: 4em;
	padding-top: 60px;
}

.projectsSectionContainer {
display: grid;
grid-template-columns: 46% 46%;
column-gap: 45px;
padding: 0 40px 0 60px;
}

.borrowLogo {
	width: 150px;
}

.studywhereLogo {
	width: 240px;
}

.itemsView {
	height: 180px;
}

.studyWhereView {
	height: 200px;
}

.projects > p {
	color: white;
	padding: 20px 0 20px 0;
	font-size: 1.2em;
}

.linkcolor {
	color: rgb(235, 233, 124)!important;
}